<div class="item mb-2 border-b-2 border-solid border-black w-max">
  <div class="content">
    <a class="header flex text-2xl space-x-4">
      <p class="  "><%= link["node"]["url"] %></p>
      <p> <%= link["node"]["description"] %> </p>
    </a>
    <p class="description ml-4">- posted by: <%= link["node"]["postedBy"]["email"] %></p>
  </div>
</div>