<% if @data.length > 0%>
  <% for link in @data do %>
    <div class="item">
      <div class="content">
        <a class="header">
          <%= link[:description] %>
        </a>
        <p class="description text-2xl">- posted by: <%= link["postedBy"]["email"] %></p>
      </div>
    </div>
  <% end %>
<% else %>
<div>No links yet!</div>
<% end %>

<% if user_signed_in? %>
  <%= link_to("Add Link", create_link_path,
    class: "btn", method: :post)%>
<% end %>